body {
    background-color: #030303;
    color: white;
    font-family: sans-serif;
}

.root {
    position: absolute;
    flex-direction: column;
    width: 99%;
    height: 99%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

a {
    color: rgb(59, 59, 59);
}

footer {
    color: rgba(255, 255, 255, 0.514);
    position: absolute;
    text-align: center;
    bottom: 1pt;
}

#timer {
    font-weight: bold;
    font-size: 200%;
    color: cadetblue;
}
